h1{
  color: black;
  text-align: center;
}
h2{

font-style: italic;
text-align:center;
color: burlywood;
}
p{
  color: blanchedalmond;
}
body{
  background-color: black;
  font-family:sans-serif;
  text-align: center;
}

